<a href="https://colab.research.google.com/github/OmkarSolat/Data-Science-at-ExcelR/blob/main/Python_Basic_Sructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basic Concepts

# Python Programming Language

Python was founded by Guido van Rossum on February 20th, 1991

# Usages of Python
- Web development
- Software development
- Mathematics & Data Science/Analytics
- System Scripting

# What can Python do?
- Python can be used on a server to create web applications.
- Python can be used alongside software to create workflows.
- Python can connect to database systems. It can also read and modify files.
- Python can be used to handle big data and perform complex mathematics.
- Python can be used for rapid prototyping, or for production-ready software development.

# Why Python?
- Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
- Python has a simple syntax similar to the English language.
- Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
- Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
- Python can be treated in a procedural way, an object-oriented way or a functional way.

# Python Syntax compared to other programming languages
- Python was designed for readability, and has some similarities to the English language with influence from mathematics.
- Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
- Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

Python file extension:
Python Basics Data Analytics.ipynb

|Data Types:| Description|
|-----------|------------|
| Numerical:|Integer, Float, Complex, Binary|
| Character:|String/Object|
| Boollean: |True/False, 1/0|
| Date:     |Numerical/Character|


Data Structures:
- List
- Tuple
- Dictionary
- Set
- Array (NumPy)
- Series (Pandas)
- DataFrame (Pandas)

Libraries:
- NumPy (Numerical Calculations)
- Pandas (For data arranged in table)
- Matplotlib (Visualization)
- Seaborn (Visualization)
- Scipy Stats (For statistics)
- Scikit Learn (Machine Learning)
- NLTK & Spacy(Natural Language Processing)
- Tensorflow/Keras (Deep Learning)



| Item         | Price | # In stock |
|--------------|:-----:|-----------:|
| Apples       |  1.99 |        739 |
| Bananas      |  1.89 |          6 |


## Usage of brackets

- Box Bracket [] : To create a list, or to access any value from a list, tuple, dataframe, array, series or a key from a dictionary, after loc & iloc function in a dataframe.

- Curve Bracket () : To create a tuple, and for all the functions & methods, except loc & iloc are followed by curve bracket.

- Flower bracket {} : To create a dictionary or a set data structure.


# Object
Object is like an empty container, which can save any value or function. We can say that an object is a variable.

In [ ]:
#Python is case sensitive
a=5
A=10
print(a)
print(A)

5
10

If we want to call any object/function on any line other than the last line of the cell,we must apply the 'print' fuction

In [ ]:
A=18
B=7
C=45
A
B
C

45

In [ ]:
print(A)
print(B)
print(C)

18
7
45

In [ ]:
x = "Data Science"
print(x)
type(x)

Data Science

str

# Operators in Python
- Addition +
Used to add the values
- Subtraction -
Used to subtract the value from another
- Multiplication *
Used to multiply a value with another
- Division /
Used to divide a value by another
- Floor Division //
Will provide the whole number part of the quotient after dividing
- Power **
Will raise a number to another number
- Mod % Will provide the remainder after dividing a number with another

# Relational Operators
- Greater than or equal to >=
- Lesser than or equal to <=
- Lesser than <
- Greater than >
- Equal to ==
- Not equal to !=
- in
- not in

In [ ]:
9/4   #Division

2.25

In [ ]:
9//4     #floor value

2

In [ ]:
2*2*2*2*2

32

In [ ]:
2**5     #Power

32

In [ ]:
21 % 5       #Remainder

1

In [ ]:
a=5           #Relational operators
b=8
a>=b

False

#  Data Structures
- Data type can be different for each single value, whether stored in an object or not. Every single value has its data type.
- Data Structure is an arrangement of multiple data values of different data types in a single object.

# Rules for the object name
- Never start an object name with a numeric value
- Never keep any space in object name
- Except underscore _, no other special character should be used in object name

* Python is Highly Case & Character Sensitive
* Python Follows Zero Indexation

* Difference between 'Function' & 'Method'?

* List Data Structure
Most dynamic data structure and accepts all types of data, which is mutable in all possible ways.

|* Method|Description|
|------|-----------|
|append()|Adds an element at the end of the list|
|clear()|Removes all the elements from the list|
|copy()|Returns a copy of the list|
|count()|Returns the number of elements with the |specified value|
|extend()|Add the elements of a list (or any iterable), to the end of the current list
|index()|Returns the index of the first element with the specified value|
|insert()|Adds an element at the specified position|
|pop()|Removes the element at the specified position|
|remove()|Removes the item with the specified value|
|reverse()|Reverses the order of the list|
|sort()|Sorts the list|

# List

In [ ]:
list1 = [7,5,1,9,5.18,7j,(3+4j),True,False,"omkar"]
list1

[7, 5, 1, 9, 5.18, 7j, (3+4j), True, False, 'omkar']

In [ ]:
id(list1)

137325909640576

In [ ]:
list1[3]

9

In [ ]:
list1 = [5,8,6,2,1.4,[7,3,1,55,'virat'],5j,3+7j,'rohit','neha']
print(list1)

[5, 8, 6, 2, 1.4, [7, 3, 1, 55, 'virat'], 5j, (3+7j), 'rohit', 'neha']

In [ ]:
list1[5][4]

'virat'

In [ ]:
list1[-2]

'rohit'

In [ ]:
list1[8]

'rohit'

In [ ]:
list1[-2] == list1[8]

True

In [ ]:
#To call elements from 3rd to the end of list
list1[3:]

[2, 1.4, [7, 3, 1, 55, 'virat'], 5j, (3+7j), 'rohit', 'neha']

In [ ]:
#To call elements from 0th to 8th index
list1[:9]

[5, 8, 6, 2, 1.4, [7, 3, 1, 55, 'virat'], 5j, (3+7j), 'rohit']

In [ ]:
#To call elements from 3rd index to 10th index
list1[3:11]

[2, 1.4, [7, 3, 1, 55, 'virat'], 5j, (3+7j), 'rohit', 'neha']

In [ ]:
print(list1)
print(list1[1:10])
list1[1:10:2]

[5, 8, 6, 2, 1.4, [7, 3, 1, 55, 'virat'], 5j, (3+7j), 'rohit', 'neha']
[8, 6, 2, 1.4, [7, 3, 1, 55, 'virat'], 5j, (3+7j), 'rohit', 'neha']

[8, 2, [7, 3, 1, 55, 'virat'], (3+7j), 'neha']

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,9,8,7,6,5,4,3,2,1]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
list1[-1:-9:-2]

[1, 3, 5, 7]

In [ ]:
#append()
list1 = [1,2,3,4,5,6,7,8,9,9,8,7,6,5,4,3,2,1]
print(list1)
list1.append(18)
print(list1)
list1.append('DATA')
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 2, 1, 18]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 2, 1, 18, 'DATA']

In [ ]:
#remove()
list1 = [1,2,3,4,5,6,7,8,9,9,8,7,6,5,4,3,2,1]
print(list1)
list1.remove(9)     #Removes first occurence of element
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#insert()
list1 = [1,5,8,6,'RCB',18,'CSK',7]
print(list1)
list1.insert(2,'IPL')
print(list1)
list1.insert(5,[5,4,8,9])
print(list1)
print(list1[5])
list1[5].insert(4,10)
print(list1)

[1, 5, 8, 6, 'RCB', 18, 'CSK', 7]
[1, 5, 'IPL', 8, 6, 'RCB', 18, 'CSK', 7]
[1, 5, 'IPL', 8, 6, [5, 4, 8, 9], 'RCB', 18, 'CSK', 7]
[5, 4, 8, 9]
[1, 5, 'IPL', 8, 6, [5, 4, 8, 9, 10], 'RCB', 18, 'CSK', 7]

In [ ]:
#pop()
list1 = [1,5,8,6,'RCB',18,'CSK',7]
print(list1)
list1.pop()
print(list1)
list1.pop(3)
print(list1)

[1, 5, 8, 6, 'RCB', 18, 'CSK', 7]
[1, 5, 8, 6, 'RCB', 18, 'CSK']
[1, 5, 8, 'RCB', 18, 'CSK']

In [ ]:
#reverse()
list1 = [18,45,56,17,7,33]
print(list1)
list1.reverse()
print(list1)

[18, 45, 56, 17, 7, 33]
[33, 7, 17, 56, 45, 18]

In [ ]:
#sort()
list1 = [2,1,6,3,9,6,8,7,4,5]
print(list1)
list1.sort()   #Ascending order
print(list1)

[2, 1, 6, 3, 9, 6, 8, 7, 4, 5]
[1, 2, 3, 4, 5, 6, 6, 7, 8, 9]

In [ ]:
list1 = [2,1,6,3,9,6,8,7,4,5]
print(list1)
list1.sort(reverse =True)       #Decending order
print(list1)

[2, 1, 6, 3, 9, 6, 8, 7, 4, 5]
[9, 8, 7, 6, 6, 5, 4, 3, 2, 1]

In [ ]:
list1 = ['RCB','CSK','MI','KKR','RR','DC','LSG','SRH']
print(list1)
list1.sort()
print(list1)
list1.sort(reverse = True)
print(list1)

['RCB', 'CSK', 'MI', 'KKR', 'RR', 'DC', 'LSG', 'SRH']
['CSK', 'DC', 'KKR', 'LSG', 'MI', 'RCB', 'RR', 'SRH']
['SRH', 'RR', 'RCB', 'MI', 'LSG', 'KKR', 'DC', 'CSK']

In [ ]:
list1 = [5,2,1,4,5]
print(list1)
list1.extend([6,4,1,2])
print(list1)
list1.append([6,4,1,2])
print(list1)

[5, 2, 1, 4, 5]
[5, 2, 1, 4, 5, 6, 4, 1, 2]
[5, 2, 1, 4, 5, 6, 4, 1, 2, [6, 4, 1, 2]]

In [ ]:
list1 = ['virat',18,18,17,45,7,'msd','rohit','virat',45,7,18]
list1.count('virat')

2

In [ ]:
list1.count(18)     #To get frequency of element in the list

3

In [ ]:
len(list1)        #To get total no. of elements in the list

12

In [ ]:
list1 = ['virat',18,18,17,45,7,'msd','rohit','virat',45,7,18]
list1.index('virat')

0

In [ ]:
#HOMEWORK
#Reverse the elements 'msd','rohit','virat' in the following list without reversing other part of list.

list1 = ['virat',18,18,17,45,7,'msd','rohit','virat',45,7,18]
print(list1)
list2 = list1[6:9]
list2.reverse()
list1[6:9] =list2
print(list1)

['virat', 18, 18, 17, 45, 7, 'msd', 'rohit', 'virat', 45, 7, 18]
['virat', 18, 18, 17, 45, 7, 'virat', 'rohit', 'msd', 45, 7, 18]

In [ ]:
#What is index of the element 'virat' in index range of 6 to 12
list1 = ['virat',18,18,17,45,7,'msd','rohit','virat',45,7,18]
print(list1[6:12])
list1.index('virat',6,11)

['msd', 'rohit', 'virat', 45, 7, 18]

8

In [ ]:
list1 = ['virat',18,18,17,45,7,'msd','rohit','virat',45,7,18]
print("list1 is",list1)
print(id(list1))
list2 = list1.copy()
print('list2 is',list2)
print(id(list2))

list1 is ['virat', 18, 18, 17, 45, 7, 'msd', 'rohit', 'virat', 45, 7, 18]
138731054963712
list2 is ['virat', 18, 18, 17, 45, 7, 'msd', 'rohit', 'virat', 45, 7, 18]
138731054967424

In [ ]:
print(list1)
print(list2)
list1.insert(18,'Banglore')
print(list1)
print(list2)

['virat', 18, 18, 17, 45, 7, 'msd', 'rohit', 'virat', 45, 7, 18]
['virat', 18, 18, 17, 45, 7, 'msd', 'rohit', 'virat', 45, 7, 18]
['virat', 18, 18, 17, 45, 7, 'msd', 'rohit', 'virat', 45, 7, 18, 'Banglore']
['virat', 18, 18, 17, 45, 7, 'msd', 'rohit', 'virat', 45, 7, 18]

In [ ]:
list1 = ['virat',18,18,17,45,7,'msd','rohit','virat',45,7,18]
list3 = list1
print('list3 is',list3)
print(list1)
print(list3)
print(id(list1))
print(id(list3))
list1.insert(18,'Banglore')
print(list1)
print(list2)

list3 is ['virat', 18, 18, 17, 45, 7, 'msd', 'rohit', 'virat', 45, 7, 18]
['virat', 18, 18, 17, 45, 7, 'msd', 'rohit', 'virat', 45, 7, 18]
['virat', 18, 18, 17, 45, 7, 'msd', 'rohit', 'virat', 45, 7, 18]
138731053576448
138731053576448
['virat', 18, 18, 17, 45, 7, 'msd', 'rohit', 'virat', 45, 7, 18, 'Banglore']
['virat', 18, 18, 17, 45, 7, 'msd', 'rohit', 'virat', 45, 7, 18]

In [ ]:
list1 = [2,3,5,1,7,4,5,3,9]
7 in list1

True

In [ ]:
18 in list1

False

In [ ]:
8 not in list1

True

# Tuple
Tuple is an immutable data structure.

In [ ]:
tup1 = (4,8,5,7,2,1,9,3,True ,False,5+7j,'virat','Banglore')
tup1

(4, 8, 5, 7, 2, 1, 9, 3, True, False, (5+7j), 'virat', 'Banglore')

In [ ]:
tup1[3]

7

In [ ]:
tup1 = (4,6,1,8,5,9,9,7,5,6,7,7,2,3,9,1)
#To get frequency of element 9 in the tuple
tup1.count(9)

3

In [ ]:
#To find the index of the value 9 in the tuple
tup1.index(9)

5

In [ ]:
print(tup1)
tup1[3:10]

(4, 6, 1, 8, 5, 9, 9, 7, 5, 6, 7, 7, 2, 3, 9, 1)

(8, 5, 9, 9, 7, 5, 6)

In [ ]:
tup1[3:10:2]

(8, 9, 7, 6)

In [ ]:
#Tuple with single element should have one comma
tup1 =(18,)
print(tup1)
type(tup1)

(18,)

tuple

In [ ]:
tup1 = (18,45,7)
print (tup1)
tup1 * 3

(18, 45, 7)

(18, 45, 7, 18, 45, 7, 18, 45, 7)

# Dictionary

Dictionary will always accept elements as a key & value pair, where the key & value are displayed with a colon ':' between them.

{key:value}

We cannot have duplicated key, but values can be duplicated.

|Method|Description|
|------|-----------|
|clear()|Removes all the elements from the dictionary|
|copy()|Returns a copy of the dictionary|
|fromkeys()|Returns a dictionary with the specified keys and value|
|get()|Returns the value of the specified key|
|items()|Returns a list containing a tuple for each key value pair|
|keys()|Returns a list containing the dictionary's keys|
|pop()|Removes the element with the specified key|
|popitem()|Removes the last inserted key-value pair|
|setdefault()|Returns the value of the specified key. If the key does not exist: insert the key, with the specified value|
|update()|Updates the dictionary with the specified key-value pairs|
|values()|Returns a list of all the values in the dictionary|

In [ ]:
dict1 = {'Batsman':'Virat','Bowler':'Bumrah','Wicketkeeper':'Pant'}
dict1

{'Batsman': 'Virat', 'Bowler': 'Bumrah', 'Wicketkeeper': 'Pant'}

In [ ]:
type(dict1)

dict

In [ ]:
dict1 = {'Batsman':'Virat','Bowler':'Bumrah','Wicketkeeper':'Pant'}
print(dict1)
dict1['Team'] = 'India'
print(dict1)
dict1['Mission'] = 'WorldCup'
print(dict1)

{'Batsman': 'Virat', 'Bowler': 'Bumrah', 'Wicketkeeper': 'Pant'}
{'Batsman': 'Virat', 'Bowler': 'Bumrah', 'Wicketkeeper': 'Pant', 'Team': 'India'}
{'Batsman': 'Virat', 'Bowler': 'Bumrah', 'Wicketkeeper': 'Pant', 'Team': 'India', 'Mission': 'WorldCup'}

In [ ]:
dict1['Batsman']

'Virat'

In [ ]:
dict1.keys()

dict_keys(['Batsman', 'Bowler', 'Wicketkeeper', 'Team', 'Mission'])

In [ ]:
dict1.values()

dict_values(['Virat', 'Bumrah', 'Pant', 'India', 'WorldCup'])

In [ ]:
#List in dict, Set in dict , Nested dict

dict2 = {1:[1,2,3], 2:(4,5,6), 3:{'Name':'Omkar', 'City':'Pune'}}
dict2

{1: [1, 2, 3], 2: (4, 5, 6), 3: {'Name': 'Omkar', 'City': 'Pune'}}

In [ ]:
dict2[3]['Name']

'Omkar'

In [ ]:
dict1 = {'Name':'Omkar','City':'Pune','Village':'Gunjalwadi'}
dict2 = {'state':'Maharastra','Country':'India','Village':'Arvi'}
print(dict1)
print(dict2)
dict1.update(dict2)
print(dict1)
print(dict2)

{'Name': 'Omkar', 'City': 'Pune', 'Village': 'Gunjalwadi'}
{'state': 'Maharastra', 'Country': 'India', 'Village': 'Arvi'}
{'Name': 'Omkar', 'City': 'Pune', 'Village': 'Arvi', 'state': 'Maharastra', 'Country': 'India'}
{'state': 'Maharastra', 'Country': 'India', 'Village': 'Arvi'}

In [ ]:
dict1 = {'Batsman':'Virat','Bowler':'Bumrah','Wicketkeeper':'Pant','Team':'India'}
print(dict1)
dict1.items()

{'Batsman': 'Virat', 'Bowler': 'Bumrah', 'Wicketkeeper': 'Pant', 'Team': 'India'}

In [ ]:
list(dict1.items())

[('Batsman', 'Virat'),
 ('Bowler', 'Bumrah'),
 ('Wicketkeeper', 'Pant'),
 ('Team', 'India')]

In [ ]:
#Add a new key:value pair after 'Bowler' key and before 'Wicketkeeper' key as -> 'Allrounder':'Pandya'

dict1 = {'Batsman':'Virat','Bowler':'Bumrah','Wicketkeeper':'Pant','Team':'India'}
print(dict1)
list1 = list(dict1.items())
print(list1)
list1.insert(2,('Allrounder','Pandya'))
print(list1)
dict1 = dict(list1)
print(dict1)

{'Batsman': 'Virat', 'Bowler': 'Bumrah', 'Wicketkeeper': 'Pant', 'Team': 'India'}
[('Batsman', 'Virat'), ('Bowler', 'Bumrah'), ('Wicketkeeper', 'Pant'), ('Team', 'India')]
[('Batsman', 'Virat'), ('Bowler', 'Bumrah'), ('Allrounder', 'Pandya'), ('Wicketkeeper', 'Pant'), ('Team', 'India')]
{'Batsman': 'Virat', 'Bowler': 'Bumrah', 'Allrounder': 'Pandya', 'Wicketkeeper': 'Pant', 'Team': 'India'}

In [ ]:
#To pop out a particular element in dictionary using its key

print(dict1)
dict1.pop('Wicketkeeper')
print(dict1)

{'Batsman': 'Virat', 'Bowler': 'Bumrah', 'Allrounder': 'Pandya', 'Wicketkeeper': 'Pant', 'Team': 'India'}
{'Batsman': 'Virat', 'Bowler': 'Bumrah', 'Allrounder': 'Pandya', 'Team': 'India'}

In [ ]:
#To pop out the last element from the dictionary

dict1 = {'Batsman':'Virat','Bowler':'Bumrah','Wicketkeeper':'Pant','Team':'India'}
print(dict1)
dict1.popitem()
print(dict1)

{'Batsman': 'Virat', 'Bowler': 'Bumrah', 'Wicketkeeper': 'Pant', 'Team': 'India'}
{'Batsman': 'Virat', 'Bowler': 'Bumrah', 'Wicketkeeper': 'Pant'}

In [ ]:
#To clear all elements of dict

dict1 = {'Batsman':'Virat','Bowler':'Bumrah','Wicketkeeper':'Pant','Team':'India'}
print(dict1)
dict1.clear()
print(dict1)

{'Batsman': 'Virat', 'Bowler': 'Bumrah', 'Wicketkeeper': 'Pant', 'Team': 'India'}
{}

In [ ]:
#fromkeys()

alphabets =['a','e','i','o','u']
value ='vowel'
vowels = dict.fromkeys(alphabets,value)
vowels

{'a': 'vowel', 'e': 'vowel', 'i': 'vowel', 'o': 'vowel', 'u': 'vowel'}

In [ ]:
#setdefault()

dict1 = {'Batsman':'Virat','Bowler':'Bumrah','Wicketkeeper':'Pant','Team':'India'}
print(dict1)
dict1.setdefault('coach','Dravid')
print(dict1)
dict1.setdefault('Wicketkeeper','Dhoni')      #---->doesn't change
print(dict1)

{'Batsman': 'Virat', 'Bowler': 'Bumrah', 'Wicketkeeper': 'Pant', 'Team': 'India'}
{'Batsman': 'Virat', 'Bowler': 'Bumrah', 'Wicketkeeper': 'Pant', 'Team': 'India', 'coach': 'Dravid'}
{'Batsman': 'Virat', 'Bowler': 'Bumrah', 'Wicketkeeper': 'Pant', 'Team': 'India', 'coach': 'Dravid'}

In [ ]:
dict1 = {'Batsman':'Virat','Bowler':'Bumrah','Wicketkeeper':'Pant','Team':'India'}
print(dict1)
dict1['Batsman'] = 'Rohit'       #Replacement
print(dict1)

{'Batsman': 'Virat', 'Bowler': 'Bumrah', 'Wicketkeeper': 'Pant', 'Team': 'India'}
{'Batsman': 'Rohit', 'Bowler': 'Bumrah', 'Wicketkeeper': 'Pant', 'Team': 'India'}

In [ ]:
dict1.get('Batsman')

'Rohit'

In [ ]:
dict1['Batsman']

'Rohit'

# Set

|Method|Description|
|------|-----------|
|add()|Adds an element to the set|
|clear()|Removes all the elements from the set|
|copy()|Returns a copy of the set|
|difference()|Returns a set containing the difference between two or more sets|
|difference_update()|Removes the items in this set that are also included in another, specified set|
|discard()|Remove the specified item|
|intersection()|Returns a set, that is the intersection of two or more sets|
|intersection_update()|Removes the items in this set that are not present in other, specified set(s)|
|isdisjoint()|Returns whether two sets have a intersection or not|
|issubset()|Returns whether another set contains this set or not|
|issuperset()|Returns whether this set contains another set or not|
|pop()|Removes an element from the set|
|remove()|Removes the specified element|
|symmetric_difference()|Returns a set with the symmetric differences of two sets|
|symmetric_difference_update()|inserts the symmetric differences from this set and another|
|union()|Return a set containing the union of sets|
|update()|Update the set with another set, or any other iterable|

In [ ]:
set1 = {'apple','mango','orange','banana','chickoo','mango'}
print(set1)
set1

{'orange', 'mango', 'apple', 'chickoo', 'banana'}

{'apple', 'banana', 'chickoo', 'mango', 'orange'}

In [ ]:
set1 = {'apple','mango','orange','banana','chickoo','mango'}
print(set1)
set1.add('papaya')
print(set1)

{'orange', 'mango', 'apple', 'chickoo', 'banana'}
{'orange', 'mango', 'papaya', 'apple', 'chickoo', 'banana'}

In [ ]:
#Set structure does not have any indexation,So it is not possible to call any element in set
set1[5]

TypeError: 'set' object is not subscriptable

In [ ]:
# discard() and remove()

set1 = {'apple','mango','orange','banana','chickoo','mango'}
print(set1)
set1.discard('mango')
print(set1)
set1.remove('orange')
print(set1)

{'orange', 'mango', 'apple', 'chickoo', 'banana'}
{'orange', 'apple', 'chickoo', 'banana'}
{'apple', 'chickoo', 'banana'}

In [ ]:
set1 = {'apple','mango','orange','banana','chickoo','mango'}
print(set1)
set1.discard('Watermelon')
print(set1)

{'orange', 'mango', 'apple', 'chickoo', 'banana'}
{'orange', 'mango', 'apple', 'chickoo', 'banana'}

In [ ]:
set1 = {'apple','mango','orange','banana','chickoo','mango'}
print(set1)
set1.remove('Watermelon')
print(set1)

{'orange', 'mango', 'apple', 'chickoo', 'banana'}

KeyError: 'Watermelon'

In [ ]:
#pop()
set1 = {'apple','mango','orange','banana','chickoo','mango'}
print(set1)
set1.pop()
print(set1)

{'orange', 'mango', 'apple', 'chickoo', 'banana'}
{'mango', 'apple', 'chickoo', 'banana'}

In [ ]:
#clear()
set1 = {'apple','mango','orange','banana','chickoo','mango'}
print(set1)
set1.clear()
print(set1)

{'orange', 'mango', 'apple', 'chickoo', 'banana'}
set()

In [ ]:
#union
set1 = {'apple','mango','banana','papaya','chickoo','muskmelon'}
set2 = {'mango','grapes','plum','papaya','apple','watermelon'}
set1.union(set2)

{'apple',
 'banana',
 'chickoo',
 'grapes',
 'mango',
 'muskmelon',
 'papaya',
 'plum',
 'watermelon'}

In [ ]:
set1 | set2       # '|' = Union

{'apple',
 'banana',
 'chickoo',
 'grapes',
 'mango',
 'muskmelon',
 'papaya',
 'plum',
 'watermelon'}

In [ ]:
#intersection
set1 = {'apple','mango','banana','papaya','chickoo','muskmelon'}
set2 = {'mango','grapes','plum','papaya','apple','watermelon'}
set1.intersection(set2)

{'apple', 'mango', 'papaya'}

In [ ]:
set1 & set2      # '&' = Intersection

{'apple', 'mango', 'papaya'}

In [ ]:
#difference

set1 = {'apple','mango','banana','papaya','chickoo','muskmelon'}
set2 = {'mango','grapes','plum','papaya','apple','watermelon'}

In [ ]:
print(set1.difference(set2))
print(set1 - set2)

{'muskmelon', 'banana', 'chickoo'}
{'muskmelon', 'banana', 'chickoo'}

In [ ]:
print(set2.difference(set1))
print(set2 - set1)

{'plum', 'watermelon', 'grapes'}
{'plum', 'watermelon', 'grapes'}

In [ ]:
#symmetric difference

set1 = {'apple','mango','banana','papaya','chickoo','muskmelon'}
set2 = {'mango','grapes','plum','papaya','apple','watermelon'}
set1.symmetric_difference(set2)

{'banana', 'chickoo', 'grapes', 'muskmelon', 'plum', 'watermelon'}

In [ ]:
#intersection_update

set1 = {'apple','mango','banana','chickoo','muskmelon'}
set2 = {'mango','grapes','plum','apple','watermelon'}
print(set1)
print(set2)
print(set1.intersection(set2))
set1.intersection_update(set2)        # updates set1 to intersection
print('--------------------------------------------------')
print(set1)
print(set2)

{'apple', 'muskmelon', 'mango', 'banana', 'chickoo'}
{'apple', 'plum', 'mango', 'grapes', 'watermelon'}
{'apple', 'mango'}
--------------------------------------------------
{'apple', 'mango'}
{'apple', 'plum', 'mango', 'grapes', 'watermelon'}

In [ ]:
#difference_update

set1 = {'apple','mango','banana','chickoo','muskmelon'}
set2 = {'mango','grapes','plum','apple','watermelon'}
print(set1)
print(set2)
print(set1.difference(set2))
set1.difference_update(set2)           # updates set1 to diffrence
print('--------------------------------------------------')
print(set1)
print(set2)

{'apple', 'muskmelon', 'mango', 'banana', 'chickoo'}
{'apple', 'plum', 'mango', 'grapes', 'watermelon'}
{'muskmelon', 'banana', 'chickoo'}
--------------------------------------------------
{'muskmelon', 'banana', 'chickoo'}
{'apple', 'plum', 'mango', 'grapes', 'watermelon'}

In [ ]:
#symmetric_difference_update

set1 = {'apple','mango','banana','chickoo','muskmelon'}
set2 = {'mango','grapes','plum','apple','watermelon'}
print(set1)
print(set2)
print(set1.symmetric_difference(set2))
set1.symmetric_difference_update(set2)     # updates set1 to symmetric_diffrence
print('--------------------------------------------------')
print(set1)
print(set2)

{'apple', 'muskmelon', 'mango', 'banana', 'chickoo'}
{'apple', 'plum', 'mango', 'grapes', 'watermelon'}
{'muskmelon', 'plum', 'grapes', 'banana', 'watermelon', 'chickoo'}
--------------------------------------------------
{'muskmelon', 'watermelon', 'plum', 'banana', 'grapes', 'chickoo'}
{'apple', 'plum', 'mango', 'grapes', 'watermelon'}

In [ ]:
# subset,superset

A = {'muskmelon', 'watermelon', 'plum', 'banana', 'grapes', 'chickoo'}
B = {'chickoo','plum','banana'}
C= {'banana','watermelon','papaya'}

In [ ]:
#Is B a subset of A?
B.issubset(A)

True

In [ ]:
#Is C a subset of A?
C.issubset(A)

False

In [ ]:
#Is A a superset of B?
A.issuperset(B)

True

In [ ]:
#Is A a superset of C?
A.issuperset(C)

False

In [ ]:
#disjoint

A = {'chickoo','plum','banana'}
B= {'orange','grapes','papaya'}
A.isdisjoint(B)

True